
# Created by https://www.gitignore.io/api/minoenv

#!! ERROR: minoenv is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/minoenv


# いらないよ
minoenv/
mysite/db.sqlite3